<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Parking System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
</head>
<h1 style="font-family: 'Sofia'; font-size: 2.5em;text-align: center;">Welcome To Smart Parking System</h1>
<body>
    <table style="width: 100%;">
        <tr style="font-family: 'Sofia'; font-size: 1.875em;">
            <th>QR Code</th>
        </tr>
        <tr style="text-align: center;">
            <td><img src="{{ qr_image }}"></td>
        </tr>
    </table>
    <br><br>
<!--    <table style="width: 100%;">-->
<!--        <tr style="font-family: 'Sofia'; font-size: 1.875em;">-->
<!--            <th>ENTRY CAMERA</th>-->
<!--        </tr>-->
<!--        <tr style="text-align: center;">-->
<!--            <td><img src="{{url_for('entry')}}" style="width:80%;"></td>-->
<!--        </tr>-->
<!--    </table>-->
</body>
</html>