<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Car Park Record</title>
</head>
<body>
    <table style="width: 100%;">
        <tr style="font-family: 'Sofia'; font-size: 1.875em; text-align: center;">
            <th>PARKING SPACE</th>
        </tr>
        <tr style="text-align: center;">
            <td style="font-size: 4em;">{{ park_count }}</td>
        </tr>
    </table>
</body>
</html>